releases/
!ert-dummy/releases/
stemcells/
compiled_packages/
content_migrations/migrations.yml
ert-dummy/content_migrations/migrations.yml
**/cf*.yml
*.zip
*.pivotal
*.pivotal.yml
*.pivotal.md5
*.swp
.idea/
integration/tmp/*
include/*.tar.gz
